.ui-page {
    background: transparent;
}

#home_logo_container {
	text-align:center;
}

#home_logo {
	height:140px;
	width:250px;
}

#login_container {
	text-align:center;
}

#forgot_pword_link_container {
	margin-top:20px;
	text-align:center;
}

#forgot_pword_link {
	font-family: 'Exo', sans-serif;
	color:white;
	text-decoration:none;
	font-weight:normal;
}

#signup_link_container {
	margin-top:10px;
	padding-top:20px;
	border-top:1px solid white;
}

.slider_left {
	position:relative;
  	left:28%;
}

.slider_right {
	position:relative;
	left:86%;
}

#home_title {
	font-family: 'Quicksand', sans-serif;
	color:black;
	font-size:60px;
	text-align:center;
	font-weight:normal;
	margin:0;
	padding-bottom:20px;
}

#go_to_tasks_button {
	text-align: center;
	width: 220px;
	border-radius: 5px;
	height: 38px;
	padding: 20px;
	background-color: #C0C61B;
	border-bottom:3px solid #9EA416;
	margin: 0 auto;
	color: white;
	font-size:30px;
	font-family: 'Quicksand', sans-serif;
}

#logout_button {
	text-align: center;
	width: 180px;
	border-radius: 5px;
	padding: 8px 0;
	background-color: #1BC0C6;
	border-bottom:3px solid #0D5C5E;
	margin: 40px auto 0 auto;
	color: white;
	font-size:20px;
	font-family: 'Quicksand', sans-serif;
}

#about_us_link, #settings_link {
	font-size:25px;
}

#about_us_link {
	float:left;
	position:absolute;
	top:330px;
}

#settings_link {
	position:absolute;
	top:330px;
	left:210px;
}

.small_logo {
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-size:25px;
}