#nav_header {
	background-image: linear-gradient(bottom, #F04155 48%, #F36576 74%);
	background-image: -o-linear-gradient(bottom, #F04155 48%, #F36576 74%);
	background-image: -moz-linear-gradient(bottom, #F04155 48%, #F36576 74%);
	background-image: -webkit-linear-gradient(bottom, #F04155 48%, #F36576 74%);
	background-image: -ms-linear-gradient(bottom, #F04155 48%, #F36576 74%);
	border-bottom: 4px solid #ae0e20;
	height:38px;
}

#home_link, #notifications_link {
	position:absolute;
	top:5px;
}

#home_link {
	float:left;
	left:25px;
}

#notifications_link {
	float:right;
	top:11px;
	left:270px;
}

.filter_container {
	min-height:120px;
}

.btn_name {
	font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:white;
	font-size:20px;
}

#prioritize_btn, #sort_btn {
	border-radius:4px;
	text-align:center;
	width:100px;
	padding:15px 0;
	background-color: #1bc0c6;
	border-bottom: 4px solid #0d5c5e;
	margin-left:15px;
	position:absolute;
	top:80px;
}

#prioritize_btn {
	background-color: #c0c61b;
	border-color:#9ea416;
	margin-left:0;
	left: 185px;
}

.hide_task, .hide_reminder {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.reminder, .task, .completed_task {
	font-size:25px;
	border-top:1px solid red;
	padding:15px 0px;
	font-family: 'Quicksand', sans-serif;
}

.completed_task {
	color:#95CFB7;
	border-color:#95CFB7;
}

.task_description, .reminder_description {
	font-size:15px;
	font-family: 'Quicksand', sans-serif;
}

#tasks_reminders_container {
	height:50px;
}

a {
	text-decoration:none;
}

.active_link {
	background-color:#ff823a;
	border-bottom:8px solid #c34700;
}

.inactive_link {
	background-color:#95CFB7;
	border-bottom:15px solid #326e55;
}

.btn_img {
	margin-bottom:3px;
}

.reminder_btn_img {
	margin-bottom:4px;
}

#footer {
	visibility:hidden;
}

.tasks_plus_btn, .reminders_plus_btn {
	width: 15px;
	height: 15px;
	margin-bottom: 18px;
	margin-left: -8px;
}

#tasks_link, #reminders_link {
	visibility:visible;
	border-radius:4px;
	width:50%;
	height:45px;
	color:white;
	font-size:40px;
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	text-shadow: none;
	font-family: 'Quicksand', sans-serif;
}

#tasks_link {
}

#reminders_link {
	position: absolute;
	top: 0;
	left: 160px;
}

div.ui-slider {
	margin: 0 2% 15px 20px;
	width: 87%;
}

input.ui-slider-input, .ui-field-contain input.ui-slider-input {
	display:block;
	margin: 8px auto;
	text-align:center;
}

.edit_button {
	margin:20px auto 0 auto;
	border-radius:4px;
	text-align:center;
	width:252px;
	padding-top:10px;
	height:40px;
	background-color: #FF823A;
	border-bottom: 3px solid #C34700;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size:30px;
}

#sorting_options_container {
	position: absolute;
	top: 56px;
	left: 185px;
	width: 100px;
	font-size: 15px;
	background-color:#ebebeb;
	border-radius:0px;
	border:1px solid #5B9DC4;
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
}

.sort_option {
	border-bottom:1px solid #5B9DC4;
	padding:8px 0;
	padding-left:3px;
	margin:0;
	font-weight:normal;
	text-shadow:none;
}

.last_option {
	border-width:0px;
	/*background-color:#5B9DC4;*/
}

.selected_option {
	background-color:#5B9DC4;
	color:white;
}

#response {
	border:1px solid black;
	font-family: 'Quicksand', sans-serif;
	margin:10px auto;
	text-align:center;
	width:200px;
	height:100px;
}